@use '../../../../scss/' as *;

.wrapper {
    @include flex(center, space-between);
    // position: relative;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    z-index: 1;

    // &::before {
    //     position: absolute;
    //     content: '';
    //     top: -30px;
    //     left: 50px;
    //     width: 60px;
    //     height: 30px;
    //     border-radius: 15px;
    //     background-color: rgb(245, 241, 241);
    // }
}

.container {
    @include flex(unset, flex-start);
    background-color: rgb(245, 241, 241);
    border-radius: 10px;
    width: 95%;
    flex-direction: column;
    padding: 8px 8px 8px 15px;
    font-size: 1.5rem;
    * ~ * {
        margin-left: 8px;
    }

    .input {
        width: 100%;
        padding: 5px 5px 5px 0;
    }
    input {
        caret-color: $main-color;
        border: none;
        background-color: transparent;
        font-size: 1.3rem;
    }
}

.viewChat {
    @include flex(center, flex-start);
    flex-direction: row;
}

.chatContent {
    @include flex(center, flex-start);
    color: $main-color;
}

.button {
    margin: 5px 15px 0 10px;
    font-size: 2rem;
    cursor: pointer;
}

//tippy
.wrapper-icons {
    border-radius: 5px;
    background-color: #fff;
    width: 340px;
    height: 420px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #e5e7eb;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.icons {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 8px;
}

.wrapper-imgs {
    border-radius: 5px;
    background-color: #fff;
    width: 800px;
    height: 115px;
    border-radius: 5px;
    margin-left: -45px;
    border: 1px solid #e5e7eb;
    overflow-x: auto;
    overscroll-behavior: auto;
}

.imgs {
    display: flex;
}

.img {
    position: relative;
    width: 110px;
    height: 90px;
    margin-right: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    i {
        position: absolute;
        left: 80px;
        top: 0;
    }
}

.wrapper-file {
    border-radius: 5px;
    background-color: #fff;
    width: 800px;
    height: 115px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    overflow-x: auto;
    overscroll-behavior: auto;
}

.imgs {
    display: flex;
}

.img {
    position: relative;
    width: 110px;
    height: 90px;
    margin-right: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    i {
        position: absolute;
        left: 80px;
    }
}
