@use '../../scss/' as *;

.wrapper {
    display: flex;
    height: 100%;
}

.infor {
    @include flex(center, flex-start);
    flex-direction: column;
    background-color: #f5f5f5;
    flex: 2;
    height: 100vh;

    .a {
        margin-left: -75%;
    }

    .avatar {
        width: 90%;
        height: 25%;
        background-color: #fff;
        @include flex(center, center);
        flex-direction: column;
    }

    .ava {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .detail {
        width: 90%;
        height: 50%;
        background-color: #fff;
        @include flex(unset, space-around);
        flex-direction: column;
        padding: 0 16px;
        margin: 5% 0 5% 0;
    }
}

.show {
    @include flex(center, center);
    flex-direction: column;
    flex: 5;
    .ava {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.label {
    display: inline-block;
    min-width: 80px;
    color: #72808e;
}

.text-info {
    color: #000;
}

.btn-update-info {
    padding: 8px 8px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    cursor: pointer;
}

.wrapper-modal {
    width: 400px;
}

.header-modal {
    padding: 0 8px 0 16px;
    display: flex;
    height: 48px;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
}

.body-modal {
    // .avatar {
    //     padding: 0 8px 0 16px;
    //     @include flex(center, flex-start);
    //     flex-direction: column;
    //     height: 25%;
    //     background-color: #fff;
    //     @include flex(center, center);
    //     flex-direction: column;
    // }

    // .ava {
    //     width: 90px;
    //     height: 90px;
    //     border-radius: 50%;
    //     overflow: hidden;

    //     img {
    //         height: 100%;
    //         width: 100%;
    //         object-fit: cover;
    //         object-position: center;
    //     }
    // }

    .avatar {
        width: 90%;
        height: 25%;
        background-color: #fff;
        @include flex(center, center);
        flex-direction: column;
    }

    .ava {
        padding: 10px 0;

        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        img {
            height: 100px;
            width: 100px;
            border: 1px solid #ccc;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .iconcam-w {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 50%;
    }

    .icon-camera {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .detail {
        width: 90%;
        padding: 20px 16px;
        background-color: #fff;
        @include flex(unset, space-around);

        margin: 5% 0 5% 0;
    }
}

.name-display {
    margin-top: 20px;
    padding: 0 8px 0 16px;
}

.ipt-name-change {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
    &:focus-within {
        border: 1px solid #3989ff;
    }
}

.desc-ipt-chang-name {
    font-size: 12px;
}

.change-info {
    margin-top: 10px;
    padding: 0 8px 0 16px;
}

.change-detail {
    margin-top: 10px;
}

.footer-body {
    display: flex;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.btn-cancel {
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    border: none;
    outline: none;
}

.btn-confirm {
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    line-height: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 38px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #0068ff;
    color: #fff;
}

// wraper modal change pass
.wrapper-modal-changepass {
    width: 300px;
}

.form {
    padding: 15px;
}

.wrapper {
    margin-bottom: 10px;
}
.ipt {
    width: 100%;
    padding: 6px 12px;
    border: none;
    outline: none;
}

.form-control {
    @include flex(center, center);

    padding: 5px 0;
    border-bottom: 1px solid #ecedf0;

    &:focus-within {
        border-bottom: 1px solid #3989ff;
    }
}

.warning {
    font-size: 14px;
    color: red;
}

.btn-changePass {
    width: 90%;
    height: 30px;
    background-color: #0190f3;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        background-color: #0184e0;
    }
}

//modal sucess
.wrapper-modal-sucess {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-confirm-sucess {
    width: 90%;
    height: 30px;
    background-color: #0190f3;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        background-color: #0184e0;
    }
}
