@use '../../scss/' as *;

.wrapper {
    display: flex;
    height: 100%;
}

.infor {
    @include flex(center, flex-start);
    flex-direction: column;
    background-color: #f5f5f5;
    flex: 2;
    height: 100vh;

    .a {
        margin-left: -75%;
    }

    .avatar {
        width: 90%;
        height: 25%;
        background-color: #fff;
        @include flex(center, center);
        flex-direction: column;
    }

    .ava {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .detail {
        width: 90%;
        height: 30%;
        background-color: #fff;
        @include flex(unset, space-around);
        flex-direction: column;
        padding-left: 30px;
        margin: 5% 0 5% 0;
    }
}

.show {
    @include flex(center, center);
    flex-direction: column;
    flex: 5;
    .ava {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
