@use '../../../../scss/' as *;

.message {
    display: flex;
    margin: 20px 15px;
}

.messright {
    display: flex;
    flex-direction: column;
}

.messName {
    font-size: 0.9rem;
}

.messImg {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.messText {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 241, 241);
    color: black;
    word-wrap: break-word;
    width: fit-content;
    max-width: 500px;
}

.messRow {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    max-width: 500px;
}

.messImgUrl {
    text-align: center;
    overflow: hidden;
    margin: 2px;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: middle;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.messBot {
    font-size: 0.9rem;
}

.message.own {
    justify-content: flex-end;
}

.message.own .messName {
    display: none;
}

.message.own .messright {
    align-items: flex-end;
    height: auto;
}

.message.own .messText {
    background-color: $main-color;
    color: #fff;
}

.message.own .messImg {
    display: none;
}

.message.group .messright {
    height: auto;
}

.message.group .messImg {
    margin-top: 21px;
}
