@use '../../../scss/' as *;

.wrapper {
    width: 300px;
    height: 100%;
    @include flex(center, space-between);
    flex-direction: column;
}

.header {
    width: 100%;
    height: 80px;
    min-height: 64px;
    @include flex(center, unset);
    border: 1px solid #ccc;
}

.userOnl {
    height: 115%;
    margin: 10px 2px;
    width: 100%;
    @include flex(center, space-between);
    overflow-x: scroll;
}

.chatList {
    width: 100%;
    min-height: 50px;
    height: calc(100vh - 164px);
    overflow-y: auto;
    overscroll-behavior: contain;
}
.wrapper-header {
    @include flex(unset, center);
    flex-direction: column;
    background-color: transparent;
    z-index: 1;
}

.container {
    height: 43px;
    margin: 0 2px;
    display: flex;
}

.search {
    .btnSearch {
        padding: 5px;
    }
    margin-left: 10px;
    @include flex(center, flex-start);
    width: 200px;
    background-color: #eeeff2;
    border: 1px solid #eeeff2;
    border-radius: 5px;
    font-weight: 400;
    &:focus-within {
        border: 1px solid #0091ff;
        background-color: #fff;
    }
    input {
        width: 100%;
        border: none;
        outline: none;
        caret-color: $main-color;
        background-color: transparent;
    }

    .btnCleanText {
        padding: 5px;
        &:hover {
            color: #0091ff;
            cursor: pointer;
        }
    }
}

.btnClose {
    border: none;
    outline: none;
    margin-left: 5px;
    padding: 0 36px;
    width: 50px;
    border-radius: 5px;
    font-weight: 600;
    @include flex(center, center);
    &:hover {
        background-color: #eeeff2;
        cursor: pointer;
    }
}

.group {
    font-size: 2.5rem;
    margin-top: 5px;
}

//header
.wrapper-h {
    @include flex(unset, center);
    flex-direction: column;
    background-color: transparent;
}

.container-h {
    height: 43px;
    margin: 0 2px;
    display: flex;
}

.search-h {
    .btnSearch-h {
        padding: 5px;
    }
    margin-left: 10px;
    @include flex(center, flex-start);
    width: 200px;
    background-color: #eeeff2;
    border: 1px solid #eeeff2;
    border-radius: 5px;
    font-weight: 400;
    &:focus-within {
        border: 1px solid #0091ff;
        background-color: #fff;
    }
    input {
        width: 100%;
        border: none;
        outline: none;
        caret-color: $main-color;
        background-color: transparent;
    }

    .btnCleanText-h {
        padding: 5px;
        flex: 1;
        &:hover {
            color: #0091ff;
            cursor: pointer;
        }
    }
}

.btnClose-h {
    border: none;
    outline: none;
    margin-left: 5px;
    padding: 0 36px;
    width: 50px;
    border-radius: 5px;
    font-weight: 600;
    @include flex(center, center);
    &:hover {
        background-color: #eeeff2;
        cursor: pointer;
    }
}

.group-h {
    font-size: 2.5rem;
    margin-top: 5px;
}

.add-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

// modal
.wrapper-md {
    width: 360px;
    border-radius: 5px;
    min-height: 400px;
}

.header-md {
    padding: 0 8px 0 16px;
    border-bottom: 1px solid #ccc;
    height: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        color: #000;
        font-weight: bold;
    }

    .close-md {
        font-size: 25px;
        cursor: pointer;
    }
}

.search-wrapper-md {
    padding: 14px 16px 0;
}

.result-search-md {
    span {
        margin-left: 12px;
        font-size: 12px;
        color: #000;
    }
    .result-md {
        height: 250px;
        overflow-y: auto;
    }
}

// Modal group
.wrapper-modal-group {
    width: 520px;
}

.header-modal-group {
    padding: 0 8px 0 16px;
    display: flex;
    height: 48px;
    min-height: 48px;
    justify-content: left;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
    justify-content: space-between;
}

.title-group {
    font-size: 1.2rem;
    font-weight: 600;
}

.icon-exit-group {
    font-size: 1.6rem;
    cursor: pointer;
}

.body-modal-group {
}

.create-group-name-group,
.add-member-group,
.list-friend-group {
    padding: 16px 16px 0;
}

.list-friend-group {
    margin-top: 16px;
    border-top: 1px solid #e5e7eb;
    min-height: 50px;
    height: 300px;
    overflow-y: auto;
    overscroll-behavior: 'contain';
    display: flex;
}

.wrapper-friends {
    flex: 1;
}

.item-choose-frend-group {
    display: flex;
}

.footer-modal-group {
    display: flex;
    margin-top: 20px;
    padding: 10px 0;
    flex-direction: row-reverse;
    border-top: 1px solid #e5e7eb;
    border-radius: 4px;
}

.btn-cancel-group {
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 38px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.btn-confirm-group {
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    line-height: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 38px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #0068ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

// user-addwed

.list-user-added-w {
    width: 30%;
    height: 100%;
    border: 1px solid #e5e7eb;
    overflow-y: auto;
}

.list-user-added {
    padding: 2px 4px;
}

// User group search
.item-user-group {
    width: 100%;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        background-color: #e5e7eb;
    }
    input {
        margin-left: 5px;
    }
}

.btn-add-frend {
    height: 24px;
    min-width: 24px;
    padding: 0 8px;
    background-color: #fff;
    border: 1px solid #0068ff;
    font-weight: bold;
    color: #0068ff;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        background-color: #e5efff;
    }
}
