@use '../../scss/' as *;

.wrapper {
    width: 4%;
    background-color: $main-color;
}

.container {
    width: 100%;
    height: 100%;
    @include flex(center, unset);
    flex-direction: column;
}

.ava {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: beige;
    overflow: hidden;
    background-size: cover;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.nav {
    position: relative;
    margin-top: 50px;
    height: 86%;
    width: 100%;

    li {
        padding-top: 5px;
        font-weight: 500;
        font-size: 2.8rem;
        width: 100%;
        height: $nav-width;
        @include flex(center, center);

        &:hover {
            background-color: #0000001a;
        }
        &.active {
            background-color: #006edc;
        }
    }

    li:last-child {
        position: absolute;
        bottom: 0;
    }
}
