@use '../../scss' as *;

.wrapper {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 24px 20px 0;
    @include flex(center, center);
    flex-direction: column;
}

.header h1 a {
    display: block;
    background: url('https://stc-zaloid.zdn.vn/zaloid/client/images/zlogo.png') 0 0 no-repeat;
    background-size: cover;
    width: 114px;
    height: 41px;
    margin: 0 auto 18px;
    text-align: center;
}
.header h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 18px;
}

.title {
    @include flex(center, center);
    margin-top: 20px;
    font-size: 10px;
}

.body {
    background-color: #fff;
    min-width: 400px;
    border-radius: 2px;
    box-shadow: 0 8px 24px rgb(21 48 142 /14%);
}

.content {
}

.form-signin {
    padding: 20px 45px 35px;
}

.ipt {
    width: 100%;
    padding: 6px 12px;
    border: none;
    outline: none;
}

.form-control {
    @include flex(center, center);
    border-bottom: 1px solid #ecedf0;
    padding: 5px 0;
    margin-bottom: 16px;
}

.btn-login {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #0190f3;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #0184e0;
    }
}

.more {
    @include flex(center, center);
    margin-top: 12px;
}

.forget-passwword {
    font-size: 12px;
    color: #000;
    &:hover {
        color: #0184e0;
        text-decoration: underline;
    }
}

.no-account {
    margin-top: 18px;
    span {
        color: #888;
    }
    a {
        color: #0190f3;
        text-decoration: underline;
        &:hover {
            color: #0184e0;
        }
    }
}

.active {
    font-weight: bold !important;
    color: #000 !important;
}

.wrapper-modal-tt {
    max-width: 400px;
}

.header-modal-tt {
    @include flex(center, space-between);
    height: 48px;
    padding: 0 8px 0 16px;
    border-bottom: 1px solid #e5e7eb;

    span {
        font-weight: 500;
        font-size: 16px;
    }
    i {
        font-size: 24px;
        cursor: pointer;
    }
}

.body-modal {
    padding: 14px 16px 0;
    @include flex(center, center);
    flex-direction: column;
    color: #000;
}

.desc {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    cursor: default;
}

.footer-modal {
    @include flex(center, right);
}

.btn-confirm {
    @include flex(center, center);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 0 16px;
    margin: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-confirm {
    background-color: #0068ff;
    color: #fff;
}

/////////////////
///
.wrapper-send {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 24px 20px;
    @include flex(center, center);
    flex-direction: column;
}

.header h1 a {
    display: block;
    background: url('https://stc-zaloid.zdn.vn/zaloid/client/images/zlogo.png') 0 0 no-repeat;
    background-size: cover;
    width: 114px;
    height: 41px;
    margin: 0 auto 18px;
    text-align: center;
}
.header h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 18px;
}

.title-send {
    @include flex(center, center);
    margin-top: 20px;
    font-size: 10px;
}

.body-send {
    background-color: #fff;
    min-width: 400px;
    border-radius: 2px;
    box-shadow: 0 8px 24px rgb(21 48 142 /14%);
}

.content-send {
    width: 100%;
}

.form-code-send {
    padding: 24px 20px 10px;
}
.ipt-send-send {
    width: 100%;
    padding: 6px 12px;
    border: none;
    outline: none;
}

.btn-confirm-send {
    @include flex(center, center);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;

    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0068ff;
    color: #fff;
}
